section {
    width: 100vw;
    height: 100vh;
}

.hanoi {
    @include flexcolumn(column, center, center);
    background: $favColor;
    position: relative; 
    color: white; 
}

.gameRules {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    border-left: 5px solid white; 
    padding: 20px; 
    line-height: 1.5; 

    h1 {
        text-transform: uppercase; 
        font-weight: bold; 
        font-size: 1.2rem; 
    }
}

.gameScores {
    text-transform: uppercase; 
    font-weight: bold; 
    position: absolute; 
    top: 40px; 
    right: 40px; 
    text-align: right; 
}

.towers {
    height: 60%;
    width: 100%; 
    @include flexcolumn(row, space-around, center);  
    flex-wrap: wrap; 
}

.tower {
    margin: 10px; 
    height: 200px; 
    width: 200px; 
    border-bottom: 10px solid white; 
    position: relative; 
    @include flexcolumn(column, flex-end, center);
    cursor: pointer;

    li {
        background: white; 
        border: solid $favColor; 
        height: 30px;
        width: 180px; 
    }

    .step5 {
        width: 160px; 
    }
    
    .step4 {
        width: 140px; 
    }
    
    .step3 {
        width: 120px; 
    }
    
    .step2 {
        width: 100px; 
    }
    
    .step1 {
        width: 80px; 
    }
}

.tower::after {
    content: ""; 
    background: white; 
    height: 100%;
    width: 10px; 
    position: absolute; 
    left: 95px;
}

.is-won {
    border-bottom: 10px solid $wonColor; 

    li {
        z-index: 2;
    }

    &::after {
        background: $wonColor; 
    }
}

.endMessage {
    padding: 40px; 
    line-height: 2; 
    display: none; 
    text-align: center; 
    font-size: 1.2rem; 

    p {
        text-transform: uppercase; 
        cursor: pointer;
        position: relative;
        border: solid white; 
        width: 60%; 
        margin: 0 auto; 
        transition: all 0.5s; 
        margin-top: 20px; 

        &:hover {
            background: white; 
            color: $favColor; 
        }
    }
}

.goBack {
    color: white; 
    position: absolute; 
    bottom: 40px; 
    left: 40px;
    text-transform: uppercase; 
    font-size: 0.8rem; 
    border-bottom: solid; 
    padding: 5px; 
}