$favColor: #8ED0C1;
$wonColor: #FCF464; 

@mixin flexcolumn($direction, $justify, $align) {
    display: flex; 
    flex-direction: $direction; 
    justify-content: $justify; 
    align-items: $align; 
}